{% extends "pznsi/base.html" %}
{% load static %}
{% block content %}





    <div id="viewport" class="activeViewPort viewport1">
        <!-- Sidebar -->
        <div id="sidebar" class=" active-sidebar sidebar1 sidebar2 pfixed" >
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="">&nbsp;</a>
            </nav>
            <ul class="nav navSidebar maxh-70" >
                {% block sidebarlist %}
                {% endblock %}
            </ul>
            <ul class="nav navSidebar">
                <li>
                    <a class="l1" role="button" id="repoButton">
                        <i class="fas fa-align-justify"></i> Repozytorium
                    </a>
                </li>

            </ul>
        </div>
        <!-- Content -->
        <div id="content">

            <nav class=" nav  navbarColor navbar  navbar-expand-lg navbar-dark rounded fixed-top">
                <button class="sidebar-toggler" type="button" id="sidebarViewer">

                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand navbar-logo " href="/">VoteDesk</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% block navItem %}{% endblock %}
                <div class="collapse navbar-collapse float-right" id="navbarText">
                    <ul class="navbar-nav ml-auto navbar-items">
                        <li class="nav-item">
                            <a class="nav-link" href="/workspace/">Przestrzeń robocza</a>
                        </li>
                     {% if request.user.is_staff %}
                     <li class="nav-item">
                         <a class="nav-link" href="/admin/">Admin Panel</a>
                    </li>
                 {% endif %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle userSettings" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if user.avatar != "" %}
                                    <img id="userIco" class="defAvatar" src="{{ user.avatar.url }}">
                                {% else %}
                                    <img id="userIco" class="AvatarStyle" src={% static "/pznsi/images/user.ico" %}>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/profile/edit/">Edytuj Profil</a>
                                <!-- <a class="dropdown-item" href="#">Zarządzaj grupami</a>-->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout/">Wyloguj</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="pt100px">
                <div class="container radius25 pt15px" >
                    <div id="MainContent2">
                        {% block contentWorkSpace %}
                        {% endblock %}
                        <div id="repoContent" class="repobar">
                            <div
                                 class="container repoContent">
                                <div class="row  pt-1 h-100 autoscroll" >
                                    <div class="col-lg-3 col-4">
                                        <span class="fileComment justify-content-center text-center"><span
                                                class="fa fa-3x fa-plus-square fileComment "  id="addFileRepoBtn" aria-hidden="true"></span><h4>Dodaj Plik</h4></span>
                                    </div>
                                        {% block repoFiles %}

                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}