{% extends 'pznsi/base.html' %}
{% load static %}


{% block content %}
    <nav class=" nav navbarColor navbar  navbar-expand-lg navbar-dark rounded">

    <a class="navbar-brand navbar-logo " href="#">VoteDesk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse float-right" id="navbarText">
        <ul class="navbar-nav ml-auto navbar-items">
            <li class="nav-item active">
                <a class="nav-link" href="#App">O Aplikacji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#war">Warunki Korzystania</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "logout" %}">Wyloguj </a>
            </li>
        </ul>
    </div>

</nav>
<div style="height: 100vh">

        <div class=" container align-self-center text-center" style="background-color: white;border-radius: 25px;margin-top: 5%" >
            <h1 id="App">O Aplikacji</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nunc tortor, molestie non dui vel, lobortis varius tortor. Morbi dapibus ante non ligula suscipit, molestie scelerisque elit porta. Praesent volutpat quam ac arcu tempor, non molestie mi sodales. Phasellus pulvinar semper orci, ac feugiat ante cursus eget. Praesent vitae mi nec ex euismod convallis et et risus. Sed vel mi egestas, suscipit lacus elementum, venenatis risus. Fusce iaculis vitae sapien id tristique. Proin mattis a erat eget dapibus. Nunc molestie, tortor sagittis ultrices suscipit, magna tortor fringilla libero, scelerisque dapibus quam velit sed enim. Pellentesque varius hendrerit dictum. Donec imperdiet viverra rhoncus. Integer et cursus quam, id pellentesque risus. Aliquam erat volutpat. Nunc suscipit ligula nec odio finibus, nec molestie dui sollicitudin. Vivamus nec ex pretium nulla gravida accumsan.


        </div>
</div>
<div class="con2" style="padding-top: 2%;height: 100vh">
<div class=" container align-self-center text-center ">
    <div style="background-color: white;border-radius: 25px;margin-top: 10%" >
    <h1 id="war">Warunki Korzystania</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nunc tortor, molestie non dui vel, lobortis varius tortor. Morbi dapibus ante non ligula suscipit, molestie scelerisque elit porta. Praesent volutpat quam ac arcu tempor, non molestie mi sodales. Phasellus pulvinar semper orci, ac feugiat ante cursus eget. Praesent vitae mi nec ex euismod convallis et et risus. Sed vel mi egestas, suscipit lacus elementum, venenatis risus. Fusce iaculis vitae sapien id tristique. Proin mattis a erat eget dapibus. Nunc molestie, tortor sagittis ultrices suscipit, magna tortor fringilla libero, scelerisque dapibus quam velit sed enim. Pellentesque varius hendrerit dictum. Donec imperdiet viverra rhoncus. Integer et cursus quam, id pellentesque risus. Aliquam erat volutpat. Nunc suscipit ligula nec odio finibus, nec molestie dui sollicitudin. Vivamus nec ex pretium nulla gravida accumsan.
    </div>

</div>
</div>
<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');

        } else {
            $('.nav').removeClass('affix');
        }
    });

</script>
{% endblock %}