{% extends 'pznsi/base.html' %}
{% load static %}
{% block head %}<script src="{% static "pznsi/js/anonymous/Registration.js" %}" type="application/javascript"></script>{% endblock %}
{% block content %}
<nav class=" nav navbar navbar-expand-lg navbar-dark rounded">

    <a class="navbar-brand navbar-logo " href="/">VoteDesk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse float-right" id="navbarText">
    </div>

</nav>


        <div class=" container align-self-center " style="min-height: 80%" >

            <div class="row justify-content-center align-items-center" style="min-height: 80%;margin-top: 10%">
            <div style="margin-bottom:0px;padding:30px;background-color:white;border-radius: 25px" class="justify-content-center col-lg-8" >
                <h2>Rejestracja</h2>
                <form method="post" action="">
                    {% csrf_token %}
                 <div class="form-group">
                     <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email"  placeholder="E-mail">
                    </div>
                    <div class="form-group">
                         <label for="login">Login</label>
                        <input autocomplete="username" type="text" class="form-control" id="login" name="username" placeholder="Login">
                    </div>
                    <div class="form-group">
                         <label for="passid">Hasło</label>
                        <input autocomplete="new-password" type="password" class="form-control" id="passid" name="password"  placeholder="Hasło">
                    </div>
                    <div class="form-group">
                         <label for="repassid">Powtórz Hasło</label>
                        <input autocomplete="username" type="password" class="form-control" id="repassid" name="repassword"  placeholder="Powtórz Hasło">
                        <p id="repassidAlert" class="alert-danger padding-1 d-none">Hasła się nie zgadzają</p>
                    </div>
                    {% if form.errors %}
                    <div class="form-group">
                        <div class="alert alert-danger text-center">{{error}}</div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="submit" class="btn btn-success" value="Zarejestruj się ">
                        </div>

                    </div>



                </form>
                {% if error %}
                     <div class="alert-danger m-1">{{ error }}</div>
                {% endif %}

            </div>
            </div>

        </div>

{% endblock %}