{% extends "pznsi/logged/loggedInterface.html" %}
{% load static %}
{% block head %}
    <script src={% static "/pznsi/js/croppie.min.js" %} }}></script>
    <link href={% static "/pznsi/css/croppie.css" %} rel="stylesheet" type="text/css">
    <script src={% static "pznsi/js/accounts/EditUserProfile.js" %}></script>
{% endblock %}
{% block modals %}
        <div class="modal fade" id="crupperModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <div id="upload-demo" class="center-block"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        <button type="button" id="cropImageBtn" class="btn btn-primary">Przytnij</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block content %}
    <div class=" container align-self-center text-center VoteContainer"
         style="">

        <div class="row text-left padding-bottom-2" >
            <div class="col-md-12 "><h1>Edycja Profilu</h1></div>
        </div>
    <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
           <div class="col-md-12 text-left font-weight-bold">
               <label>Nazwa użytkownika</label>
               <input disabled name="username" type="text" value="{{ user.get_username  }}" class="form-control">
           </div>

            <div class="col-md-12 text-left font-weight-bold">
                <label>Hasło</label>
                <input name="password" type="password" placeholder="Nie Zmieniono" class="form-control" data-container="body"
                       data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Minimum 8 znaków , 1 Liczba, 1 Mała i Wielka Litera">
            </div>
        </div>
         <div class="col-md-6">
                <div class="row AvatarRow">
                    <div class="col-md-4 text-left font-weight-bold" style="height: auto;width: auto">
                        <div class="row"><div class="col-md-12"> <label class="label">Wybierz Zdjęcie </label></div></div>
                        <div class="row"><div class="col-md-12">
                            {% if user.avatar != "" %}
                                <img id="ImgAvatar" style="height: 100px;width: 100px;border:1px solid #b4b4b4;border-radius: 150px"  src="{{ user.avatar.url }}">
                            {% else %}
                                <img id="ImgAvatar" style="height: 100px;width: 100px;border:1px solid #b4b4b4;border-radius: 150px"  src={% static "/pznsi/images/user.ico" %}>
                            {% endif %}
                        </div>
                        </div>
                    </div>
                    <input type="file" class="custom-file-input" id="imgInp">
                    <input type="hidden" name="avatar" id="avatarField" value="">
                </div>
         </div>
    </div>
     <div class="row">
        <div class="col-md-6">
           <div class="col-md-12 text-left font-weight-bold">
               <label>E-Mail</label>
               <input name="email" type="email" value="{{ user.email }}" class="form-control">
           </div>

            <div class="col-md-12 text-left font-weight-bold">
                <label>Organizacja/Firma</label>
                <input name="organizacja" value="{{ user.organization }}" type="text" class="form-control">
            </div>
        </div>
          <div class="col-md-6">
           <div class="col-md-12 text-left font-weight-bold">
               <label>Imie</label>
               <input name="imie" value="{{ user.get_short_name }}" type="text" class="form-control">
           </div>
            <div class="col-md-12 text-left font-weight-bold">
                <label>Nazwisko</label>
                <input name="nazwisko" value="{{ user.last_name }}" type="text" class="form-control">
            </div>
        </div>
    </div>
        <div class="row text-left padding-top-1" ><div class="col-md-6">
            <div class="col-md-6">
            <input type="submit" value="Edytuj Profil" class="btn btn-warning">
        </div></div>
        </div>
        </form>

            {% if succes %}
                <div class="row padding-top-5"><div class="col-12"><div class="alert alert-danger">Pomyślnie dokonano zmian  </div></div></div>
{#            {% else %}#}
{#                <div class="row padding-top-5"><div class="col-12"><div class="alert alert-danger">Błąd Edycji ! </div></div></div>#}
            {% endif %}
    </div>
{% endblock %}