@media (min-width: 992px) {
     .listEnvPrElemet:hover {
        transform: scale(1.08);

    }
    .listEnvPrElemet div:hover {

        background-color: #dddddd;
    }
}
ul,li {
    list-style-type: none;
    wsidth: 100%;
}
.leftMenuIntem li div{
    width: 100%;
}
.leftMenuIntemStart{
    padding-inline-start:0px;
}
.leftMenuIntem li {
    width: 100%;
}
.leftMenuIntem li div:hover{
    background-color: #1c7430;
}