body {
    background-image: url('../images/back1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.standardBody{
    margin-top:60px;
}
.affix {

    background-color: #111111;
}
html {
    scroll-behavior: smooth;
}
.nav{
    border-radius: 10px;
}
@media (min-width: 992px) {
    .navbar-logo {
        padding-left: 3rem;
    }

    .navbar-items {
        padding-right: 3rem;
    }


}
    .nav{
        background-color: #111111;
    }

.loginContent{
    margin-bottom:0px;padding:30px;background-color:white;border-radius: 25px
}
.con2{
    /* The image used */
    background-image: url('../images/back2.jpg');




    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.userSettings::after {
    display: none;
}
.userSettings{
    padding: 0px auto;
}

#userIco {
    border:2px solid transparent;
    border-radius: 50px;
}
#userIco:hover {
    border:2px solid gray;
    border-radius: 50px;
}
.padding-1{
    padding: 1%;
}
.padding-5{
    padding: 5%;
}
.padding-top-1{
    padding-top: 1%;
}
.padding-top-5{
    padding-top: 5%;
}
#upload-demo{
	width: 250px;
	height: 250px;
  padding-bottom:25px;
}
.croppie-container{
    margin: 0px auto;
}
.img-container {
  /* Never limit the container height here */
  max-width: 100%;
}

.img-container img {
  /* This is important */
  width: 100%;
}
.AvatarRow{
    padding-left:15px
}
.padding-bottom-2{
    padding-bottom: 2%;
}
.margin-bottom-2{
    margin-bottom: 2%;
}
.VoteContainer {
    padding: 2%;background-color: white;border-radius: 25px;margin-top: 5%;
     word-wrap: break-word;
}
label{
    font-weight: bold;
}
.selectedSr{

}
.h0{

}
#projTitle #projCategory{
    font-size: 1.2rem;
    font-weight: 800;
}
   #ProjectWindo {
       border-radius: 10px;
       background-color: #ececec;
       padding: 1rem;
   }
@media (min-width: 992px) {
    #ProjectContent {

        padding-left: 10rem;
        padding-right: 10rem;
    }
}
.p-left-1{
    padding-left: 1rem;
}
.p-left-2{
    padding-left: 2rem;
}
.p-left-3{
    padding-left: 3rem;
}
.dateCom{
    color:#adadad;
    font-style: italic;
    font-size: 0.8rem;
}

.img-comment {
    height: 2rem;vertical-align: middle;  border:2px solid gray;border-radius: 50px;
}
.envi ,.ProjectItemx{
    padding-top: 15px;
    padding-bottom: 15px;
}


@media (min-width: 992px) {
    .envi div:hover, .ProjectItemx div:hover {
        transform: scale(1.1);
        background-color: #dddddd;
    }
}
.envi div ,.ProjectItemx div{

    background-color: #f0f0f0;
}
.h-0{
    height: 0px;
}

