{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VoteDesk{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href={% static "/pznsi/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "/pznsi/css/jquery-ui.css" %}>
    <script src={% static "/pznsi/js/jquery.min.js" %}></script>
    <script src={% static "/pznsi/js/jquery-ui.js" %}></script>
    <script src={% static "/pznsi/js/popper.min.js" %}></script>
    <script src={% static "/pznsi/js/bootstrap.min.js" %}></script>
    <link href={% static "/pznsi/css/VoterStyle.css" %} rel="stylesheet" type="text/css">
    <link href={% static "/pznsi/css/sidebar.css" %} rel="stylesheet" type="text/css">
    <link href={% static "/pznsi/css/bootstrap-select.min.css" %} rel="stylesheet" type="text/css">
    <link href={% static "/pznsi/css/flatpickr.min.css" %} rel="stylesheet" type="text/css">
    <script src={% static "/pznsi/js/solid.js" %}></script>
    <script src="https://kit.fontawesome.com/9eabc1f038.js" crossorigin="anonymous"></script>
    <script src={% static "/pznsi/js/bootbox.all.min.js" %}></script>
    <script src={% static "/pznsi/js/VoterFunction.js" %}></script>
    <script src={% static "/pznsi/js/jquery.cookie.js" %}></script>
    <script src={% static "/pznsi/js/bootstrap-select.min.js" %}></script>

    <script src={% static "/pznsi/js/Chart.min.js" %}></script>
    <script src={% static "/pznsi/js/flatpickr.js" %}></script>
    <link rel="shortcut icon" href="{% static "/pznsi/images/Favicon.ico" %}" />
    {% block head %} {% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}" style="{% block bodyStyle %}{% endblock %}">
{% include 'pznsi/cookies.html' %}
<div id="loadingSpinner"
     style="display:none;z-index:99999;position: fixed;top:0%;left:0px;width: 100vw;height: 100vh;overflow: hidden;background: rgba(20,20,20,0.5)">
    <div style="margin-top: 30vh">
        {% include 'pznsi/spinner.html' %}
    </div>
</div>
{% block modals %}{% endblock %}
{% block navbar %}{% endblock %}
{% block content %} {% endblock %}
{% block endscript %}{% endblock %}
</body>
</html>