{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VoteDesk{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href={% static "/pznsi/css/bootstrap.min.css" %}>
    <script src={% static "/pznsi/js/jquery.min.js" %} ></script>

    <script src={% static "/pznsi/js/popper.min.js" %} ></script>
<script src={% static "/pznsi/js/bootstrap.min.js" %} ></script>
    <link href={% static "/pznsi/css/VoterStyle.css" %} rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{% static "/pznsi/images/Favicon.ico" %}" />

</head>
<body>
<nav class=" nav navbarColor navbar navbar-expand-lg navbar-dark rounded">

    <a class="navbar-brand navbar-logo " href="/">VoteDesk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse float-right" id="navbarText">
    </div>

</nav>


        <div class=" container align-self-center mh-80 "  >

            <div class="row justify-content-center align-items-center mg-80 mt-10" >
            <div  class="justify-content-center col-lg-8 loginWindow" >
                <h2>Zaloguj</h2>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">

                        <input type="text" class="form-control" id="exampleFormControlInput1" name="username" value="{{lastUserName}}" placeholder="Login">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="passid" name="password"  placeholder="Hasło">
                    </div>
                    {% if form.errors %}
                    <div class="form-group">
                        <div class="alert alert-danger text-center">Nieprawidłowy login lub hasło</div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="submit" class="btn btn-success" value="Zaloguj">
                        </div>
                        <div class="col-sm-6 d-flex flex-row-reverse ">
                            <input type="button" onclick="location.href='{% url 'register' %}'" class="btn btn-info"  value="Zapisz się !">
                        </div>
                    </div>



                </form>
            </div>
            </div>

        </div>

</body>
</html>