<div class="row justify-content-center ">
    <style>
        #editEnvi_dragName {
            color: white;
            font: 1rem cookie, cursive;
            text-align: center;
            mix-blend-mode: difference;
        }
    </style>
    <div class="col-sm-6 p-3 bgw">
        <label>Nazwa Środowiska</label>
        <input maxlength="100" type="text" class="form-control" value="{{ environment.environment_name }}" id="editEnvi_nameEnvi">
        <label>Właściciel Środowiska</label>
        <select class="form-control" id="owner_id">
            {% for user in users %}
                {% if user.id == environment.owner.id %}
                    <option selected value="{{ user.id }}">{{ user.username }}</option>
                {% else %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="file" name="file" id="fileBackground" style="display: none">
        <label>Obraz tła środowiska</label>
        <div class="col-lg-12 upload-area" id="uploadfile" style="">
            <div id="backgroundEx" class="text-center "
                 style="background-size: 100% 100%;background-repeat: no-repeat;border-radius: 10px;padding: 4rem;;background-color: #f0f0f0;
                         {% if environment.cover_image %}
                             background-image: url('{{ environment.cover_image.url }}')"
                         {% endif %}
                 >
                 <h3 id="editEnvi_dragName">Kliknij lub przeciągnij aby dodać tło </h3></div>
        </div>
            <div class=" padding-top-1">
        <input data-edit-id="{{ environment.id }}" type="button"
               value="{% if mode == 0 %}Edytuj{% else %}Dodaj Nowy {% endif %}"
               onclick="SendForm({% if mode == 0 %}{{ environment.id }}{% else %}0{% endif %},'{% if mode == 0 %}{{ environment.name }}{% endif %}')" class="btn btn-outline-info">
    </div>
    </div>
</div>
<script>
    selectedFile = "";

    function SendForm(id, nameEnvi) {
        $('#loadingSpinner').show();
        $.post('/api/editEnviSave', {
            'cover_image': selectedFile,
            'owner': $('#owner_id').val(),
            'environment_name': $('#editEnvi_nameEnvi').val(),
            'numEnvi': id,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }, function (result,state,status) {
            if(status['status']==200) {
                if (result != null) {
                    if (result['result'] == "1") {
                        trybPracy = 1;
                        ZmianaTrybuPracy();
                    } else bootbox.alert("error");
                } else bootbox.alert("error");
            }
            else bootbox.alert('Wystąpił Błąd ');

        }).fail(function () {
             $('#loadingSpinner').hide();
            bootbox.alert('Wystąpił Błąd');
        });
    }

    $(document).ready(function () {
        $("html").on("dragover", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#editEnvi_dragName").text("Przeciągnij tu ");
        });

        $("html").on("drop", function (e) {
            e.preventDefault();
            e.stopPropagation();
        });
        $('.upload-area').on('dragenter', function (e) {
            e.stopPropagation();
            e.preventDefault();
            $("#editEnvi_dragName").text("Upuść tu ");
        });
        $('.upload-area').on('dragover', function (e) {
            e.stopPropagation();
            e.preventDefault();
            $("#editEnvi_dragName").text("Upuść tu ");
        });
        $('.upload-area').on('drop', function (e) {
            $('#loadingSpinner').show();
            e.stopPropagation();
            e.preventDefault();
            $("#editEnvi_dragName").text("ładowanie pliku");
            $('#fileBackground')[0].files = e.originalEvent.dataTransfer.files;
            setImage();
            $("#editEnvi_dragName").text("Kliknij lub przeciągnij aby dodać tło");
            $('#loadingSpinner').hide();
        });

        $("#uploadfile").click(function () {
            $("#fileBackground").click();
        });

        $("#fileBackground").change(function () {
            $('#loadingSpinner').show();
            setImage();
            $('#loadingSpinner').hide();
        });
    });

   function setImage() {
        $('#loadingSpinner').show();
        file = $('#fileBackground')[0].files[0];
        if (file != null) {
            if (checkSizeFile(file)) {
                if (checkFileTypes(file)) {
                    getBase64(file).then(
                        data => {
                            selectedFile = data;
                            $('#backgroundEx').css('background-image', "url('" + data + "')")
                            $('#loadingSpinner').hide();
                        }
                    );
                } else {
                    bootbox.alert("Dozwolone są tylko obrazy ! ");
                    $('#loadingSpinner').hide();
                }
            }
            else {
                bootbox.alert("Plik jest za duży.Max 30 MB");
                $('#loadingSpinner').hide();
                    }

        }
        else $('#loadingSpinner').hide();
    }

    function checkFileTypes(file) {
        acceptmimetypes = ['image/apng', 'image/bmp', 'image/gif', 'image/jpeg', 'image/png'];
        for (var item of acceptmimetypes) if (item == file.type) return true;
        return false;
    }


</script>