<div class="row justify-content-center">
    <div class="col-lg-8   p-3">
        <div class="bgw p-3 " style="min-height: 100%">
            <h3>Opis</h3>
            {{ project.project_content }}
        </div>
    </div>
    <div class="col-lg-4   p-3">
        <div class="bgw p-3" style="min-height: 100%">
            <h3>Menu Oceny</h3>
            <h4>Średnia Projektu:<span id="avgVal"></span></h4>
            {% if 'vote' in permissions %}
                <h4>Twoja Ocena:<span id="myVote"></span> </h4>
            {% endif %}
            {% if 'vote' in permissions  and vote_opened %}

                <button class="btn btn-secondary w-100" id="voteButton">Głosowanie</button>
            {% endif %}
            <button class="btn btn-primary w-100" id="statsButton">Statystyki</button>

        </div>
    </div>
    {% if 'view_project_instance' in permissions %}
        <div class="col-lg-8   p-3">
            <div class="bgw p-3" style="min-height: 100%">
                <h3>Komentarze</h3>
                <div class="input-group" style="height: 80%">
                    <textarea id="newCommentContent" class="form-control" style="height: 80%"></textarea>
                    <div class="input-group-append">
                        <button id="newCommentButton" class="btn btn-secondary" type="button">Skomentuj</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4   p-3">
            <div id="addFileContent" class="bgw p-3" style="min-height: 100%">
                <h3>Dodaj Pliki</h3>
                <input type="file" name="file" id="fileAttachmentProject" style="display: none">
                <span style="width: 50%;height: 20%" class="fa fa-5x fa-file"> </span>
            </div>
        </div>
    {% endif %}
</div>

<div class="row justify-content-center" id="commentAttachmentProject">


</div>


<!-- upload plików -->
<script>
    {% if 'edit_project_instance' in permissions %}
        $('#editProjectInsideBtn').show();
    {% endif %}
</script>