{% extends "pznsi/logged/loggedWorkSpaceInterface.html" %}

{% block repoFiles %}
    {% for i in '012345678sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss9ssssssssssssssssssssssssssssssssssssssssss9'|make_list %}
        <div class="col-lg-3 col-4">
            <span data-value-url="http://localhost:800/media/attachments/temp_5B0eCIy.jpeg"
                  target="_blank" class="fileComment justify-content-center text-center repoItem"
                  style="color:white;text-decoration: none;"><span
                    class="fa fa-3x fa-file-o fileComment" aria-hidden="true"></span><h4>TitleAttach</h4></span>
        </div>
    {% endfor %}
{% endblock %}

{% block modals %}

    <div class="modal fade" id="repoactionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Wybierz działanie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="repoactionModalContent">
                    <div class="row">
                        <div class="col-12 justify-content-center">
                            <div class="btn-group-vertical justify-content-center w-100">
                                <button class="btn btn-outline-secondary " id="addItemRepoToProject">Dodaj Plik do
                                    Projektu
                                </button>
                                <a target="_blank" class="btn btn-outline-secondary" id="downloadFileRepo"
                                   href="dupa.php">Pobierz plik z repozytorium </a>
                                <button class="btn btn-outline-secondary" id="removeFileRepo">Usuń plik z repozytorium
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade" id="AddFileToRepoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dodaj Plik do repozytorium</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="addFileRepoDiv" class="bgw p-3 col-12 justify-content-center text-center mh-100"
                         style="border: 2px solid #8c8c8c">
                        <input type="file" name="file" id="fileBackgroundRepo" style="display: none">
                        <span style="width: 50%;height: 20%" class="fa fa-5x fa-file" aria-hidden="true"> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                   <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active statNavItem" data-type="chart" href="#">Wykres</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link statNavItem" href="#" data-type="list">Lista Głosujących</a>
                      </li>
                    </ul>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="statsModalContent">

                    <canvas id="ChartProject" width="400" height="400"></canvas>
                    <div id="ListVoters">
                        <table class="table table-striped">
                            <thead><tr><th>Głosujący</th><th>Głos</th></tr></thead>
                            <tbody id="ListVotersTbody"></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="voteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Głosowanie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="voteModalContent">
                    <div class="input-group mb-3 justify-content-center">
                        {% for i in '0123456789'|make_list %}
                            <button data-value="{{ forloop.counter }}"
                                    class="btn btn-outline-success voteButtons">{{ forloop.counter }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block contentWorkSpace %}

    {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>

    <div id="mainPage" style="">
        <div id="LastSearchContent">
            <div class=" my-3 bgw p-3 "><h2>Ostatnie projekty </h2></div>
            <div class="row  h-100 text-center" id="lastSearch">
            </div>
        </div>
        <div class=" my-3 bgw p-3"><h2>Środowiska </h2>
            <input type="search" class="form-control search" id="searchEnvi" placeholder="Wyszukaj Środowiska ...">
        </div>
        <div class="row h-100 text-center" id="allEnvi">
        </div>
    </div>

    <div id="listProjects">
        <div class="row justify-content-center">
            <div class="col-lg-12 my-3 p-3 bgw">
                <div class="btn-group w-100">
                    <h2 id="headerListProjects">Projekty </h2>
                </div>
                <input type="search" class="form-control search" id="searchProjectEnvi"
                       placeholder="Wyszukaj Projektu ...">

            </div>
        </div>
        <div class="row  h-100 text-center" id="allProject">
        </div>
    </div>
    <div id="editEnvi">
        <div class="row justify-content-center">
            <div class="col-lg-6 my-3 p-3 bgw"><h2 id="headerEditEnvi"></h2>
            </div>
        </div>
        <div id="editEnviContent"></div>
    </div>
    <div id="permEnvi">
        <div class="row justify-content-center">
            <div class=" col-lg-12  my-3 bgw p-3"><h2 id="headerPermEnvi"></h2>
            </div>
        </div>
        <div id="editPermContent"></div>
    </div>
    <div id="editProject">
        <div class="row justify-content-center">
            <div class=" col-lg-6  bgw p-3 my-3"><h2 id="headerEditProject"></h2>
            </div>
        </div>
        <div id="editProjectContent"></div>
    </div>
    <div id="permProject">
        <div class="row justify-content-center">
            <div class="col-lg-12  bgw p-3 my-3"><h2 id="headerPermProject"></h2>
            </div>
        </div>
        <div id="editPermProjectContent"></div>
    </div>
    <div id="projectPage">
        <div class="row justify-content-center">
            <div class="col-lg-12  bgw p-3 my-3">
                <h2 id="headerProjectContent"></h2>
                <span class=" " id="editProjectInsideBtn">
                <span class="far fa-2x fa-edit "></span>
                </span>
            </div>
        </div>
        <div id="projectPageContent"></div>
    </div>

    <script>
        //tryby pracy 1- strona główna (Ostatnie projekty) oraz lista środowisk
        //tryb pracy 2 przegląd  projektów z wybranego środowiska
        //tryb pracy 3 Edycja środowiska
        //tryb pracy 4 Edycja uprawnień środowiskaEventProjectClick
        //tryb pracy 5 widok projektu
        var currentUser = '{{ user.id }}';
        var trybPracy = 1;
        var WybraneSrodowisko = -1;
        var selectedEnvi = "";
        var pageLoad = 1;
        var search = 0;
        var stopReadPage = 0;
        var keyword = "";
        var selectedProject = 0;
        var selectedProjectName = "";
        var backgroundurl = "";
        var repoItem = 0;
        var repoItemUrl = "";
        var locale = {
            OK: 'Potwierdź',
            CONFIRM: 'Potwierdź',
            CANCEL: 'Anuluj'
        };
        bootbox.addLocale('custom', locale);

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        //wczytywanie trybu pracy e
        function modOcena(typ) {
            if (typ === 1) {
                if (ocenaField.value < 10) {
                    ocenaField.value++
                }
            }
            if (typ === 0) {
                if (ocenaField.value > 0) {
                    ocenaField.value--
                }
            }
        }

        function deletePermEnvi() {

        }

        function deletePermProject() {
            $('.deletePermProject').on('click', function () {
                var userId1 = $(this).attr('data-user-id');
                this1 = this;
                bootbox.confirm({
                    message: "Czy napewno chcesz usunąć uprawnienia ?",
                    buttons: {
                        confirm: {
                            label: 'Tak',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Nie',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $('#loadingSpinner').show();
                            $.ajax({
                                type: "POST",
                                url: '/api/projects/' + selectedProject + '/remove_permissions/',
                                data: JSON.stringify({
                                    permissions: ['vote', 'edit_project_instance', 'view_project_instance'],
                                    user_id: userId1
                                }),
                                success: function () {
                                    $('#loadingSpinner').hide();
                                    $(this1).parent().parent().parent().addClass('outItem', 1000);
                                    $(this1).parent().parent().parent().hide(1000);
                                },

                                contentType: 'application/json',
                                dataType: 'json'
                            }).fail(function () {
                                $('#loadingSpinner').hide();
                                bootbox.alert('Wystąpił błąd');
                            });


                        }
                    }
                });

            })
        }

        function addPermEnvi() {
            $('.changePermCheckEnvi').on('change', function () {
                arr = [];
                arr.push($(this).attr('data-type-perm'));
                userId = $(this).attr('data-user-id');
                var operation = 'remove_permissions';
                if ($(this).is(':checked')) {
                    operation = "add_permissions";
                }
                $('#loadingSpinner').show();
                $.ajax({
                    type: "POST",
                    url: '/api/environments/' + WybraneSrodowisko + '/' + operation + '/',
                    data: JSON.stringify({
                        permissions: arr,
                        user_id: userId
                    }),
                    success: function () {
                        $('#loadingSpinner').hide();
                    },

                    contentType: 'application/json',
                    dataType: 'json'
                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił błąd');
                });
            });


            $('.addPermEnvi').on('click', function () {
                    arr = [];
                    if ($('#permAddEnvi').is(':checked'))
                        arr.push('edit_environment_instance');
                    if ($('#permViewEnvi').is(':checked'))
                        arr.push('view_environment_instance');

                    var user_id = $('#selectNewPermEnvi').val();
                    if (user_id !== null) {
                        $('#loadingSpinner').show();
                        $.ajax({
                            type: "POST",
                            url: '/api/environments/' + WybraneSrodowisko + '/add_permissions/',
                            data: JSON.stringify({
                                permissions: arr,
                                user_id: user_id
                            }),
                            success: function () {
                                $('#loadingSpinner').hide();
                                ZmianaTrybuPracy();
                            },

                            contentType: 'application/json',
                            dataType: 'json'
                        }).fail(function () {
                            $('#loadingSpinner').hide();
                            bootbox.alert('Wystąpił błąd');
                        });
                    }

                    ZmianaTrybuPracy();
                }
            );
            $('.deletePermEnvi').on('click', function () {
                //alert($(this).attr('data-user-perm-id'));
                //alert(WybraneSrodowisko);

                // $(this).parent().parent().hide();
                this1 = this;
                bootbox.confirm({
                    message: "Czy napewno chcesz usunąć uprawnienia ?",
                    buttons: {
                        confirm: {
                            label: 'Tak',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Nie',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            userId1 = $(this1).attr('data-user-perm-id');
                            $.ajax({
                                type: "POST",
                                url: '/api/environments/' + WybraneSrodowisko + '/remove_permissions/',
                                data: JSON.stringify({
                                    permissions: ['edit_environment_instance', 'view_environment_instance'],
                                    user_id: userId1
                                }),
                                success: function () {
                                    $('#loadingSpinner').hide();
                                    $(this1).parent().parent().parent().addClass('outItem', 1000);
                                    $(this1).parent().parent().parent().hide(1000);
                                },

                                contentType: 'application/json',
                                dataType: 'json'
                            }).fail(function () {
                                $('#loadingSpinner').hide();
                                bootbox.alert('Wystąpił błąd');
                            });
                        }
                    }
                });
            })
        }

        function LoadLastProjectList() {
            $('.lastprojectitems').remove();
            lastid = [];
            lastid.push($.cookie('save' + currentUser + 'Project1'));
            lastid.push($.cookie('save' + currentUser + 'Project2'));
            lastid.push($.cookie('save' + currentUser + 'Project3'));


            lastid.forEach(function (element, index, array) {
                if (element != 0) {

                    $.get('/api/projects/' + element, function (result) {
                        $('#lastProjectsList').after($('<li>').append($('<a>').addClass('l2 lastprojectitems').append(result['project_name'])).on('click', function () {
                            selectedProject = element;
                            selectedProjectName = result['project_name'];
                            selectedEnvi = result['environment_name'];
                            WybraneSrodowisko = result['environment'];
                            if (result['cover_image'] != null)
                                backgroundurl = result['cover_image'];
                            else
                                backgroundurl = "";
                            trybPracy = 5;
                            ZmianaTrybuPracy();
                        }));
                    }).fail(function () {
                        $('#loadingSpinner').hide();
                        bootbox.alert('Wystąpił Błąd');
                    });

                }
            });


        }

        function setDefaultCookie() {
            var date = new Date();
            date.setTime(date.getTime() + (364 * 24 * 60 * 60 * 1000));

            if (!$.cookie('save' + currentUser + 'Project1')) $.cookie('save' + currentUser + 'Project1', 0, {expires: date});
            if (!$.cookie('save' + currentUser + 'Project2')) $.cookie('save' + currentUser + 'Project2', 0, {expires: date});
            if (!$.cookie('save' + currentUser + 'Project3')) $.cookie('save' + currentUser + 'Project3', 0, {expires: date});

        }

        function AddLastProject(id) {
            var date = new Date();
            date.setTime(date.getTime() + (364 * 24 * 60 * 60 * 1000));
            if (id != 0 && $.cookie('save' + currentUser + 'Project3') != id && $.cookie('save' + currentUser + 'Project1') != id && $.cookie('save' + currentUser + 'Project2') != id) {
                $.cookie('save' + currentUser + 'Project3', $.cookie('save' + currentUser + 'Project2'), {expires: date});
                $.cookie('save' + currentUser + 'Project2', $.cookie('save' + currentUser + 'Project1'), {expires: date});
                $.cookie('save' + currentUser + 'Project1', id, {expires: date});
                LoadLastProjectList();

            }
        }

        function showRepo() {
            $('#repoContent').toggle();
        }

        function loadFileRepo() {
            $('#loadingSpinner').show();
            file = $('#fileBackgroundRepo')[0].files[0];
            if (file != null) {
                if (checkSizeFile(file)) {
                    getBase64(file).then(
                        data => {
                            data;
                            bootbox.prompt("Podaj Nazwę pliku ", function (resultPrompt) {
                                if (resultPrompt) {
                                    $.post('jakispokurwiałylink', {
                                        'title': resultPrompt,
                                        'data': data,
                                        'tujeszczetoken': 'alebrak'
                                    }, function () {
                                        $('#AddFileToRepoModal').modal('hide');
                                        //jakoś trzeba dodać ten plik do listy zależy co zwraca
                                        location.reload();
                                    }).fail(function () {
                                        $('#loadingSpinner').hide();
                                        bootbox.alert('Błąd wysyłania danych ');
                                    })
                                }
                            });

                        }
                    );
                } else {
                    bootbox.alert("Plik jest za duży.Max 30 MB");
                    $('#loadingSpinner').hide();
                }

            } else $('#loadingSpinner').hide();
        }

        //po załadowaniu strony
        $(document).ready(function () {
            $('.repoItem').on('click', function () {
                repoItemUrl = $(this).attr('data-value-url');
                $('#addItemRepoToProject').hide();
                $('#downloadFileRepo').attr('href', repoItemUrl);
                if (trybPracy == 5) $('#addItemRepoToProject').show();
                $('#repoactionModal').modal();
            });
            $('#addItemRepoToProject').on('click', function () {
                alert('Nie masz uprawnien do dodawania plików w tym repo lool ');
            })
            $('#addFileRepoDiv > span').on('click', function () {
                $('#fileBackgroundRepo').click();
            });
            $('#addFileRepoBtn').on('click', function () {
                $('#AddFileToRepoModal').modal();
            });
            $('#repoButton').on('click', function () {
                showRepo();
            });
            $("#fileBackgroundRepo").change(function () {
                $('#loadingSpinner').show();
                loadFileRepo();
                $('#loadingSpinner').hide();
            });


            $('.voteButtons').on('click', function () {
                vote = $(this).attr('data-value');
                $('#loadingSpinner').show();
                $.post('/api/projects/' + selectedProject.trim() + '/vote/', {
                    'rate': vote * 10,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result) {
                    $('#loadingSpinner').hide();
                    $('#voteModal').modal('hide');
                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                })
            });
            setDefaultCookie();
            AddLastProject(0);
            ZmianaTrybuPracy();
            //dodanie przycisku dodającego nowe środowisko
            //event pokazujący sidebar
            $('#sidebarViewer').on('click', function () {
                $('#sidebar').toggleClass('active-sidebar sidebar2 ', 1000);
                $('#viewport').toggleClass('activeViewPort', 1000);
            });
            //przycisk wracający do listy środowisk
            $('#enviList').on('click', function () {
                trybPracy = 1;
                ZmianaTrybuPracy();
            });
            //po kliknięciu ostatnich projektów również wracamy do listy środowisk
            $('#lastProjectsList').on('click', function () {
                trybPracy = 1;
                ZmianaTrybuPracy();
            });
            //lista wszystkich projektów
            $('#allProjectsList').on('click', function () {
                trybPracy = 2;
                selectedEnvi = 'Wszystkie Projekty ';
                WybraneSrodowisko = 0;
                ZmianaTrybuPracy();
            });
            EventEnviClick();
            EventProjectClick
            LoadLastProjectList();
        });


        //scroll
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                pageLoad++;
                if (trybPracy === 1) {
                    if (stopReadPage === 0)

                        $.post('/front/environments/', {
                            'keyword': '',
                            'page': pageLoad,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        }, function (result, state, status) {
                            if (status['status'] == 200) {
                                result = result.trim();
                                if (result == "") stopReadPage = 1;
                                else {
                                    $('#allEnvi').append(result);
                                }
                            } else bootbox.alert('Wystąpił Błąd ');
                        }).fail(function () {
                            $('#loadingSpinner').hide();
                            bootbox.alert('Wystąpił Błąd');
                        });

                }
                if (trybPracy == 2) {
                    if (stopReadPage === 0) {
                        $.post('/front/projects/', {
                            'keyword': '',
                            'numEnvi': WybraneSrodowisko,
                            'page': pageLoad,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        }, function (result, state, status) {
                            if (status['status'] == 200) {
                                result = result.trim();
                                if (result == "") stopReadPage = 1;
                                else {
                                    $('#allProject').append(result);
                                }
                            } else bootbox.alert('Wystąpił Błąd ');
                        }).fail(function () {
                            $('#loadingSpinner').hide();
                            bootbox.alert('Wystąpił Błąd');
                        });
                        ;
                    }

                }
            }

        });
        //wyszukiwanie środowiska
        $('#searchEnvi').on('keyup', function () {
            keyword = $(this).val();
            if ($(this).val() == "") {
                search = 0;
                pageLoad = 1;
                stopReadPage = 0;
                $('#allEnvi').html('');
                $.post('/front/environments/', {
                    'keyword': '',
                    'page': pageLoad,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result, state, status) {
                    if (status['status'] == 200) {
                        result = result.trim();
                        if (result == "") stopReadPage = 1;
                        else {
                            $('#allEnvi').append(result);
                        }
                    } else bootbox.alert('Wystąpił Błąd ');
                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });
            } else {
                search = 1;
                pageLoad = 1;
                stopReadPage = 0;
                $('#allEnvi').html('');
                $.post('/front/environments/', {
                    'keyword': keyword,
                    'page': pageLoad,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result, state, status) {
                    if (status['status'] == 200) {
                        result = result.trim();
                        if (result == "") stopReadPage = 1;
                        else {
                            $('#allEnvi').append(result);
                        }
                    } else bootbox.alert('Wystąpił Błąd ');
                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });
            }
        });
        //wyszukiwanie projektów w środowisku
        $('#searchProjectEnvi').on('keyup', function () {
            keyword = $(this).val();
            if ($(this).val() == "") {
                search = 0;
                pageLoad = 1;
                stopReadPage = 0
                $('#allProject').html('');
                $.post('/front/projects/', {
                    'keyword': '',
                    'numEnvi': WybraneSrodowisko,
                    'page': pageLoad,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result, state, status) {
                    if (status['status'] == 200) {
                        result = result.trim();
                        if (result == "") stopReadPage = 1;
                        else {
                            $('#allProject').append(result);
                        }
                    } else bootbox.alert('Wystąpił Błąd ');
                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });
                ;
            } else {
                search = 1;
                pageLoad = 1;
                stopReadPage = 0
                $('#allProject').html('');
                $.post('/front/projects/', {
                    'keyword': keyword,
                    'numEnvi': WybraneSrodowisko,
                    'page': pageLoad,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result, state, status) {
                    if (status['status'] == 200) {
                        result = result.trim();
                        if (result == "") stopReadPage = 1;
                        else {
                            $('#allProject').append(result);
                        }
                    } else bootbox.alert('Wystąpił Błąd ');
                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });
            }
        });

        function EventProjectClick() {

            selectedProject = 0;
            selectedProjectName = ""
            $(".ProjectListElement").on('click', function (event) {
                backgroundurl = "";
                selectedProject = $(this).attr('data-project-id');
                selectedProjectName = $(this).attr('data-project-name');
                WybraneSrodowisko = $(this).attr('data-project-envi-id');
                selectedEnvi = $(this).attr('data-project-envi-name');
                backgroundurl = $(this).attr('data-background');
                event.stopPropagation();
                event.stopImmediatePropagation();
                trybPracy = 5;
                ZmianaTrybuPracy();
                LoadLastProjectList();
            });
            $(".permProjectButton").on('click', function (event) {
                selectedProject = $(this).attr('data-project-id');
                selectedProjectName = $(this).attr('data-project-name');
                WybraneSrodowisko = $(this).attr('data-project-envi-id');
                selectedEnvi = $(this).attr('data-project-envi-name');
                backgroundurl = $(this).attr('data-background');
                event.stopPropagation();
                event.stopImmediatePropagation();
                trybPracy = 7;
                ZmianaTrybuPracy();
            });
            $(".editProjectButton").on('click', function (event) {
                selectedProject = $(this).attr('data-project-id');
                selectedProjectName = $(this).attr('data-project-name');
                WybraneSrodowisko = $(this).attr('data-project-envi-id');
                selectedEnvi = $(this).attr('data-project-envi-name');
                backgroundurl = $(this).attr('data-background');

                event.stopPropagation();
                event.stopImmediatePropagation();
                trybPracy = 6;
                ZmianaTrybuPracy();
            })


        }

        function EventEnviClick() {
            //po wcisnieciu przycisku edytuj przechodzi do edycji envi
            $(".editEnviButton").on('click', function (event) {
                event.stopPropagation();
                event.stopImmediatePropagation();
                WybraneSrodowisko = $(this).attr('data-envi-id');
                selectedEnvi = $(this).attr('data-envi-name');
                backgroundurl = $(this).attr('data-background');
                trybPracy = 3;
                ZmianaTrybuPracy();
            });
            //wejście w uprawnienia aplikacji
            $(".permEnviButton").on('click', function (event) {
                event.stopPropagation();
                event.stopImmediatePropagation();
                WybraneSrodowisko = $(this).attr('data-envi-id');
                selectedEnvi = $(this).attr('data-envi-name');
                backgroundurl = $(this).attr('data-background');
                trybPracy = 4;
                ZmianaTrybuPracy();
            });
            //po kliknięciu w środowisko wchodzi do listy projektów
            $(".EnviListElement").on('click', function (event) {
                backgroundurl = "";
                WybraneSrodowisko = $(this).attr('data-envi-id');
                selectedEnvi = $(this).attr('data-envi-name');
                backgroundurl = $(this).attr('data-background');
                event.stopPropagation();
                event.stopImmediatePropagation();
                trybPracy = 2;
                ZmianaTrybuPracy();

            });
        }

        function addProjectButton() {
            if (WybraneSrodowisko != 0) {
                $.post('/api/canAddProject', {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id': WybraneSrodowisko
                }, function (result, state, status) {
                    if (status['status'] == 200) {

                        if (result != null && result['can_add'] == true) {
                            $('#allProjectsList').after($('<li>').append($('<a>').addClass('l2 projectListButtons').attr('id', 'addNew').attr('role', 'button').append($('<i>').addClass('fas fa-plus'), ' Dodaj Projekt')).on('click', function () {
                                selectedProject = 0;
                                selectedProjectName = "Dodaj Projekt";
                                trybPracy = 6;
                                ZmianaTrybuPracy();
                            }));
                        }
                    } else bootbox.alert('Wystąpił Błąd ');
                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });


            }
        }

        function addCurrentProjectButton() {
            $('#allProjectsList').after($('<li>').append($('<a>').addClass('l2 projectListButtons').attr('id', 'curren').attr('role', 'button').append($('<i>'), selectedProjectName)).on('click', function () {
                trybPracy = 5;
                ZmianaTrybuPracy();
            }));
        }

        function addCurrentEnviButton() {
            $('#enviList').after($('<li>').append($('<a>').addClass('l2').attr('id', 'selectedEnviList').attr('role', 'button').append(' ' + selectedEnvi)).on('click', function () {
                trybPracy = 2;
                ZmianaTrybuPracy();
            }));
        }

        function addNewEnviButton() {
            $.post('/api/canAddEnvi', {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                function (result, state, status) {
                    if (status['status'] == 200) {
                        if (result != null && result['can_add'] == true) {
                            $('#enviList').after($('<li>').append($('<a>').addClass('l2').attr('id', 'addNew').attr('role', 'button').append($('<i>').addClass('fas fa-plus'), ' Dodaj Środowisko')).on('click', function () {
                                selectedEnvi = "";
                                WybraneSrodowisko = 0;
                                trybPracy = 3;
                                ZmianaTrybuPracy();
                            }));
                        }
                    } else bootbox.alert('Wystąpił Błąd ');
                }).fail(function () {
                $('#loadingSpinner').hide();
                bootbox.alert('Wystąpił Błąd');
            });
            ;

        }

        function disableLoading() {
            $('#loadingModal').modal('hide');
        }

        function setBackgroundImage() {
            if (backgroundurl == "")
                $('body').css('background-image', 'url(\'/static/pznsi/images/back1.jpg\')');
            else
                $('body').css('background-image', 'url(\'' + backgroundurl + '\')');
            $('body').css('z-index', '-1000');
        }

        function ZmianaTrybuPracy() {
            $('#loadingSpinner').show();
            $('#mainPage').hide();
            $('#listProjects').hide();
            $('#editEnvi').hide();
            $('#permEnvi').hide();
            $('#projectPage').hide();
            $('#permProject').hide();
            $('#editProject').hide();
            $('#editEnviContent').html('');
            $('#editPermContent').html('');
            $('#editProjectContent').html('');
            $('#editPermProjectContent').html('');
            $('#projectPageContent').html('');
            $('#allEnvi').html('');
            $('#lastSearch').html('');
            $('.projectListButtons').remove();
            if ($('#selectedEnviList').length) $('#selectedEnviList').remove();
            $('#addNew').remove();
            $('#editProjectInsideBtn').hide();
            pageLoad = 1;
            search = 0;
            stopReadPage = 0;
            keyword = "";

            if (trybPracy == 1) {
                backgroundurl = "";
                addNewEnviButton();
                $('#mainPage').fadeIn();
                lastProjectContent = "";
                for (var i = 1; i < 4; i++) {
                    if ($.cookie('saveProject' + i) && $.cookie('saveProject' + i) != 0) {
                        $.post('/front/projects/', {
                            'keyword': '',
                            'page': 0,
                            'numEnvi': 0,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'id_project': $.cookie('saveProject' + i)
                        }, function (result, state, status) {
                            if (status['status'] == 200) {
                                lastProjectContent += result.trim();
                                $('#lastSearch').html(lastProjectContent);
                            } else bootbox.alert('Wystąpił Błąd ');


                        }).fail(function () {
                            $('#loadingSpinner').hide();
                            bootbox.alert('Wystąpił Błąd');
                        });
                    }
                }


                $.post('/front/environments/', {
                    'keyword': '',
                    'page': pageLoad,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result, state, status) {
                    if (status['status'] == 200) {
                        $('#allEnvi').html(result);
                    } else bootbox.alert('Wystąpił Błąd ');
                    $('#loadingSpinner').hide();

                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });


            }
            if (trybPracy == 2) {

                console.log(trybPracy);
                $('#headerListProjects').html(selectedEnvi);
                $('#listProjects').fadeIn();
                $.post('/front/projects/', {
                    'keyword': '',
                    'numEnvi': WybraneSrodowisko,
                    'page': pageLoad,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result, state, status) {
                    if (status['status'] == 200) {


                        $('#allProject').html(result);
                    } else bootbox.alert('Wystąpił Błąd ');
                    $('#loadingSpinner').hide();

                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });

                addNewEnviButton();
                addCurrentEnviButton();
                addProjectButton();
            }
            if (trybPracy === 3) {
                $('#editEnvi').fadeIn();
                if (WybraneSrodowisko != 0)
                    $('#headerEditEnvi').html('Edycja ' + selectedEnvi);
                else
                    $('#headerEditEnvi').html('Dodaj Środowisko');
                $.post('/front/editEnvi', {
                    'numEnvi': WybraneSrodowisko,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result, state, status) {
                    if (status['status'] == 200) {
                        result = result.trim();
                        $('#editEnviContent').html(result);
                    } else bootbox.alert('Wystąpił Błąd ');
                    $('#loadingSpinner').hide();
                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });
                addNewEnviButton();
                if (WybraneSrodowisko != 0)
                    addCurrentEnviButton();
            }
            if (trybPracy === 4) {
                $.post('/front/environmentsperms/', {
                    'environment_id': WybraneSrodowisko,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result, state, status) {
                    if (status['status'] == 200) {
                        $('#permEnvi').fadeIn();
                        $('#headerPermEnvi').html('Uprawnienia ' + selectedEnvi);
                        result = result.trim();
                        $('#editPermContent').html(result);
                        addPermEnvi();
                        addNewEnviButton();
                        addCurrentEnviButton();
                    } else bootbox.alert('Wystąpił Błąd ');
                    $('#loadingSpinner').hide();

                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });
            }
            if (trybPracy === 5) {
                $.post('/front/project/', {
                    'project_id': selectedProject,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result, state, status) {
                    if (status['status'] == 200) {
                        $('#projectPage').fadeIn();
                        $('#headerProjectContent').html('Projekt ' + selectedProjectName);
                        result = result.trim();
                        $('#projectPageContent').html(result);
                        AddLastProject(selectedProject);
                        addCurrentEnviButton();
                        addNewEnviButton();
                        addCurrentProjectButton()
                        addProjectButton();
                    } else bootbox.alert('Wystąpił Błąd ');
                    $('#loadingSpinner').hide();
                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });
            }
            if (trybPracy === 6) {

                $.post('/front/editProject', {
                    'id': selectedProject,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result, state, status) {
                    if (status['status'] == 200) {
                        if (selectedProject == 0)
                            $('#headerEditProject').html('Dodaj Projekt');
                        else
                            $('#headerEditProject').html('Edycja ' + selectedProjectName);
                        $('#editProject').fadeIn();

                        result = result.trim();
                        $('#editProjectContent').html(result);
                        addNewEnviButton();
                        addCurrentEnviButton();
                        if (selectedProject != 0)
                            addCurrentProjectButton()
                        addProjectButton();
                    } else bootbox.alert('Wystąpił Błąd ');
                    $('#loadingSpinner').hide();
                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });
            }
            if (trybPracy === 7) {
                $.post('/front/projectperms/', {
                    'project_id': selectedProject,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }, function (result, state, status) {
                    if (status['status'] == 200) {
                        $('#permProject').fadeIn();
                        $('#headerPermProject').html('Uprawnienia ' + selectedProjectName);
                        result = result.trim();
                        $('#editPermProjectContent').html(result);
                        deletePermProject();
                        addNewEnviButton();
                        addCurrentEnviButton();
                        addCurrentProjectButton();
                        addProjectButton();
                        $('#loadingSpinner').hide();
                    } else bootbox.alert('Wystąpił Błąd ');
                }).fail(function () {
                    $('#loadingSpinner').hide();
                    bootbox.alert('Wystąpił Błąd');
                });
            }
            setBackgroundImage();
        }

    </script>
{% endblock %}

{% block sidebarlist %}
    <li id="enviList">
        <a class="l1" href="#">
            <i class="fas fa-align-justify"></i> Środowiska
        </a>
    </li>
    <li id="allProjectsList">
        <a class="l1" role="button">
            <i class="fas fa-align-justify"></i> Projekty
        </a>
    </li>
    <li id="lastProjectsList">
        <a class="l1" role="button">
            <i class="fas fa-align-justify"></i> Ostatnie Projekty
        </a>
    </li>



{% endblock %}