{% extends "pznsi/logged/loggedWorkSpaceInterface.html" %}

{% block repoFiles %}
    {% for repo_file in repository_files %}
        <div class="col-lg-3 col-4">
            <span data-value-url="{{ repo_file.file.url }}" data-id-repofile="{{ repo_file.id }}" data-id-reponame="{{ repo_file.visible_name }}"
                  target="_blank" class="fileComment justify-content-center text-center repoItem"><span
                    class="fa fa-3x
                   {% if repo_file.extension in ".xlsx,.xls,.calc"  %}fa-file-excel
                   {% elif  repo_file.extension in ".pdf"  %} fa-file-pdf
                   {% elif  repo_file.extension in ".jpg,.jpeg,.bmp,.png,.gif,.tiff"  %} fa-file-image
                   {% elif  repo_file.extension in ".mp3,wav,.flac"  %} fa-file-audio
                   {% elif  repo_file.extension in ".7z,.zip,.rar,.gz,.tar"  %} fa-file-archive
                   {% elif  repo_file.extension in ".avi,.mpg,.webm,.mp4,.ogg,.mpeg,.fly"  %} fa-file-video
                   {% elif  repo_file.extension in ".odt,.doc,.docx"  %} fa-file-word
                   {% elif  repo_file.extension in ".txt,.md,.rtf"  %} fa-file-alt
                   {% elif  repo_file.extension in ".py,.java,.c,.cpp,.js,.html,.htm,.xhtml,.xml,.json,.css,.php"  %}fa-file-code

                   {% else %} fa-file
                   {% endif %}

                    fileComment" aria-hidden="true"></span><h4>{{ repo_file.visible_name }}</h4></span>
        </div>
    {% endfor %}
{% endblock %}

{% block modals %}

    <div class="modal fade" id="repoactionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Wybierz działanie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="repoactionModalContent">
                    <div class="row">
                        <div class="col-12 justify-content-center">
                            <div class="btn-group-vertical justify-content-center w-100">
                                <button class="btn btn-outline-secondary " id="addItemRepoToProject">Dodaj Plik do
                                    Projektu
                                </button>
                                <a target="_blank" class="btn btn-outline-secondary" id="downloadFileRepo"
                                   href="dupa.php">Pobierz plik z repozytorium </a>
                                 <button class="btn btn-outline-secondary" id="renameFileRepo">Zmień tytuł pliku
                                </button>
                                <button class="btn btn-outline-secondary" id="removeFileRepo">Usuń plik z repozytorium
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade" id="AddFileToRepoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dodaj Plik do repozytorium</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="addFileRepoDiv" class="bgw p-3 col-12 justify-content-center text-center mh-100"
                         style="border: 2px solid #8c8c8c">
                        <input type="file" name="file" id="fileBackgroundRepo" style="display: none">
                        <span style="width: 50%;height: 20%" class="fa fa-5x fa-file" aria-hidden="true"> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                   <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active statNavItem" data-type="chart" href="#">Wykres</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link statNavItem" href="#" data-type="list">Lista Głosujących</a>
                      </li>
                    </ul>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="statsModalContent">

                    <canvas id="ChartProject" width="400" height="400"></canvas>
                    <div id="ListVoters">
                        <table class="table table-striped">
                            <thead><tr><th>Głosujący</th><th>Głos</th></tr></thead>
                            <tbody id="ListVotersTbody"></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="voteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Głosowanie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="voteModalContent">
                    <div class="input-group mb-3 justify-content-center">
                        {% for i in '0123456789'|make_list %}
                            <button data-value="{{ forloop.counter }}" class="btn btn-outline-success voteButtons">{{ forloop.counter }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block contentWorkSpace %}

    {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>

    <div id="mainPage" style="">
        <div id="LastSearchContent">
            <div class=" my-3 bgw p-3 "><h2>Ostatnie projekty </h2></div>
            <div class="row  h-100 text-center" id="lastSearch">
            </div>
        </div>
        <div class=" my-3 bgw p-3"><h2>Środowiska </h2>
            <input type="search" class="form-control search" id="searchEnvi" placeholder="Wyszukaj Środowiska ...">
        </div>
        <div class="row h-100 text-center" id="allEnvi">
        </div>
    </div>

    <div id="listProjects">
        <div class="row justify-content-center">
            <div class="col-lg-12 my-3 p-3 bgw">
                <div class="btn-group w-100">
                    <h2 id="headerListProjects">Projekty </h2>
                </div>
                <div class="input-group">
                <input type="search" class="form-control search w-50" id="searchProjectEnvi"
                       placeholder="Wyszukaj Projektu ...">
                    <select id="categoryProjectSearch" class="form-control">
                        <option value="0">Wszystkie Kategorie</option>
                       {% for cat in categories %}
                           <option value="{{ cat.id }}">{{ cat.category_name }}</option>
                       {% endfor %}
                    </select>
                </div>

            </div>
        </div>
        <div class="row  h-100 text-center" id="allProject">
        </div>
    </div>
    <div id="editEnvi">
        <div class="row justify-content-center">
            <div class="col-lg-6 my-3 p-3 bgw"><h2 id="headerEditEnvi"></h2>
            </div>
        </div>
        <div id="editEnviContent"></div>
    </div>
    <div id="permEnvi">
        <div class="row justify-content-center">
            <div class=" col-lg-12  my-3 bgw p-3"><h2 id="headerPermEnvi"></h2>
            </div>
        </div>
        <div id="editPermContent"></div>
    </div>
    <div id="editProject">
        <div class="row justify-content-center">
            <div class=" col-lg-6  bgw p-3 my-3"><h2 id="headerEditProject"></h2>
            </div>
        </div>
        <div id="editProjectContent"></div>
    </div>
    <div id="permProject">
        <div class="row justify-content-center">
            <div class="col-lg-12  bgw p-3 my-3"><h2 id="headerPermProject"></h2>
            </div>
        </div>
        <div id="editPermProjectContent"></div>
    </div>
    <div id="projectPage">
        <div class="row justify-content-center">
            <div class="col-lg-12  bgw p-3 my-3">
                <h2 id="headerProjectContent"></h2>
                <span class=" " id="editProjectInsideBtn">
                <span class="far fa-2x fa-edit "></span>
                </span>
            </div>
        </div>
        <div id="projectPageContent"></div>
    </div>

    <script>
        //po załadowaniu strony
        $(document).ready(function () {
            currentUser = '{{ user.id }}'
           setDefaultWorkspace();
        });
    </script>
{% endblock %}

{% block sidebarlist %}
    <li id="enviList">
        <a class="l1" href="#">
            <i class="fas fa-align-justify"></i> Środowiska
        </a>
    </li>
    <li id="allProjectsList">
        <a class="l1" role="button">
            <i class="fas fa-align-justify"></i> Projekty
        </a>
    </li>
    <li id="lastProjectsList">
        <a class="l1" role="button">
            <i class="fas fa-align-justify"></i> Ostatnie Projekty
        </a>
    </li>
{% endblock %}